<h1>Blog Directory</h1>
<%= link_to "New Blog", new_blog_path %>
<ul>
  <% @blogs.each do |blog| %>
    <li>
      <%= link_to blog.name, root_url(subdomain: blog.subdomain) %>
    </li>
    <% end %>
</ul>
