<h1>Blog Directory</h1><br />

<h1><%= link_to "Make A New Blog", new_blog_path %></h1>

<ul>
  <% @blogs.each do |blog| %>
    <li>
      <%= link_to blog.name, root_url(subdomain: blog.subdomain) %>
    </li>
    <% end %>
</ul>
